{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Sent</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">
</head>
<body>
    <div class="container">
        <h3 style="color: green;">Password Reset Sent</h3>

        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

        <p style="color: red;">If you don't receive an email, please make sure you've entered the address you registered with and check your spam folder.</p>

        <a href="http://localhost:3000/" class="button" style="background-color:green ;">Go to Homepage</a>
    </div>
</body>
</html>
