{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Password Reset</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">
</head>

<body>
    <div class="container">
        <h3 style="color: red;">Password Reset</h3>

        <p style="font-size: 20px;">Forgotten your password? Enter your email address below, and we'll email
            instructions for setting a new one.</p>

        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Send email" style="background-color:green ;">
        </form>
    </div>
</body>

</html>